.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns-wrapper .columns > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: #000;
  padding: 40px 0 24px;
  position: relative;
  color: #fff;
}

.columns-wrapper .columns > div::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: url('/path/to/chocolate-drip.png') repeat-x top center;
  background-size: cover;
  z-index: 2;
  pointer-events: none;
}

.columns-wrapper .columns > div > div:first-child {
  min-width: 200px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.columns-wrapper .columns > div > div:nth-child(2),
.columns-wrapper .columns > div > div:nth-child(3) {
  min-width: 160px;
}

.columns-wrapper .columns > div > div:nth-child(2) {
  margin-right: 32px;
  position: relative;
  padding-right: 32px;
}

.columns-wrapper .columns > div > div:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: rgb(255 255 255 / 25%);
}

.columns-wrapper .columns > div ul,
.columns-wrapper .columns > div li,
.columns-wrapper .columns > div a {
  color: #fff !important;
  font-size: 15px;
  line-height: 2;
  list-style: none;
  text-decoration: none;
}

.columns-wrapper .columns > div ul {
  padding-left: 0;
  margin: 0;
}

.columns-wrapper .columns > div li {
  margin: 0;
}

@media (width <= 600px) {
  .columns-wrapper .columns > div {
    flex-direction: column;
    align-items: stretch;
  }

  .columns-wrapper .columns > div > div {
    margin-right: 0 !important;
    padding-right: 0 !important;
    min-width: 0 !important;
  }

  .columns-wrapper .columns > div > div:nth-child(2)::after {
    display: none;
  }
}


.columns.columns5 {
  background: #2d1808;
  border-radius: 1.5rem;
  padding: 2.5rem 2rem;
  color: #f8e9bc;
  max-width: 700px;
  margin: 2.5rem auto;
  box-sizing: border-box;
}

.columns.columns5 .columns-wrapper {
  padding: 0;
  margin: 0;
  max-width: unset;
}

.columns.columns5 .columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

@media (width <= 700px) {
  .columns.columns5 .columns {
    flex-direction: column;
    gap: 2.5rem;
  }
}

.columns.columns5 div,
.columns.columns5 p {
  box-sizing: border-box;
}
.columns.columns5 .columns div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.columns.columns5 .columns div:first-of-type p:nth-child(1) {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  letter-spacing: -0.01em;
}
.columns.columns5 .columns div:first-of-type p:nth-child(2),
.columns.columns5 .columns div:first-of-type p:nth-child(3),
.columns.columns5 .columns div:first-of-type p:nth-child(4) {
  display: inline-block;
  border: 1px solid #f8e9bc;
  border-radius: 2rem;
  padding: 0.25rem 1rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.columns.columns5 .columns div:first-of-type p:nth-child(5),
.columns.columns5 .columns div:first-of-type p:nth-child(7) {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  margin-right: 0.5em;
}

.columns.columns5 .columns div:first-of-type p:nth-child(6),
.columns.columns5 .columns div:first-of-type p:nth-child(8) {
  font-size: 1rem;
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 0.5em;
}

.columns.columns5 .columns div:first-of-type p:nth-child(5),
.columns.columns5 .columns div:first-of-type p:nth-child(6) {
  display: block;
  float: left;
  width: 50px;
  text-align: center;
}

.columns.columns5 .columns div:first-of-type p:nth-child(7),
.columns.columns5 .columns div:first-of-type p:nth-child(8) {
  display: block;
  float: left;
  width: 70px;
  text-align: center;
}

@media (width >= 600px) {
  .columns.columns5 .columns div:first-of-type {
    display: flex;
    flex-direction: column;
  }

  .columns.columns5 .columns div:first-of-type .info-blocks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}


.columns.columns9 {
  background: #2C1205;
  padding: 0;
}

.columns.columns9 .block.columns-3-cols {
  background: transparent;
}

.columns.columns9 .block.columns-3-cols div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  background: transparent;
}

.columns.columns9 .block.columns-3-cols div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  position: relative;
  height: 370px;
  padding: 0;
}

.columns.columns9 .block.columns-3-cols div div p:first-child {
  /* Hide the small white label at the top of each card */
  display: none;
}

.columns.columns9 .block.columns-3-cols div div p {
  /* Big colored label (now always first visible <p> in each card) */
  font-size: clamp(2.2rem, 6vw, 3.3rem);
  font-weight: 700;
  text-align: center;
  line-height: 1.08;
  margin: 0 0 -2.1rem 0;
  letter-spacing: -0.015em;
  word-break: break-word;
  white-space: pre-line;
  position: relative;
  z-index: 1;
  color: inherit;
  background: transparent;
}

.columns.columns9 .block.columns-3-cols div div:nth-child(1) p {
  color: #8DF6D2;
}
.columns.columns9 .block.columns-3-cols div div:nth-child(2) p {
  color: #A996D2;
}
.columns.columns9 .block.columns-3-cols div div:nth-child(3) p {
  color: #E13C33;
}

.columns.columns9 .block.columns-3-cols div div p a {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  z-index: 2;
  position: relative;
}

.columns.columns9 .block.columns-3-cols div div img {
  width: 130px;
  max-width: 92vw;
  height: auto;
  display: block;
  margin: 0 auto;
  /* Overlap image with label using negative margin */
  margin-top: -2.6rem;
}

.columns.columns9 .block.columns-3-cols div div:not(:last-child) {
  border: none;
  box-shadow: none;
}

/* Responsive: stack cards vertically on mobile */
@media (max-width: 900px) {
  .columns.columns9 .block.columns-3-cols div {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    max-width: 540px;
  }
  .columns.columns9 .block.columns-3-cols div div {
    height: auto;
    padding: 2rem 0;
  }
}
