/* stylelint-disable no-descending-specificity */
.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns-wrapper .columns > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: #000;
  padding: 40px 0 24px;
  position: relative;
  color: #fff;
}

.columns-wrapper .columns > div::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: url('/path/to/chocolate-drip.png') repeat-x top center;
  background-size: cover;
  z-index: 2;
  pointer-events: none;
}

.columns-wrapper .columns > div > div:first-child {
  min-width: 200px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.columns-wrapper .columns > div > div:nth-child(2),
.columns-wrapper .columns > div > div:nth-child(3) {
  min-width: 160px;
}

.columns-wrapper .columns > div > div:nth-child(2) {
  margin-right: 32px;
  position: relative;
  padding-right: 32px;
}

.columns-wrapper .columns > div > div:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: rgb(255 255 255 / 25%);
}

.columns-wrapper .columns > div ul,
.columns-wrapper .columns > div li,
.columns-wrapper .columns > div a {
  color: #fff !important;
  font-size: 15px;
  line-height: 2;
  list-style: none;
  text-decoration: none;
}

.columns-wrapper .columns > div ul {
  padding-left: 0;
  margin: 0;
}

.columns-wrapper .columns > div li {
  margin: 0;
}

@media (width <= 600px) {
  .columns-wrapper .columns > div {
    flex-direction: column;
    align-items: stretch;
  }

  .columns-wrapper .columns > div > div {
    margin-right: 0 !important;
    padding-right: 0 !important;
    min-width: 0 !important;
  }

  .columns-wrapper .columns > div > div:nth-child(2)::after {
    display: none;
  }
}


.columns.columns5 {
  background: #2d1808;
  border-radius: 1.5rem;
  padding: 2.5rem 2rem;
  color: #f8e9bc;
  max-width: 700px;
  margin: 2.5rem auto;
  box-sizing: border-box;
}

.columns.columns5 .columns-wrapper {
  padding: 0;
  margin: 0;
  max-width: unset;
}

.columns.columns5 .columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

@media (width <= 700px) {
  .columns.columns5 .columns {
    flex-direction: column;
    gap: 2.5rem;
  }
}

.columns.columns5 div,
.columns.columns5 p {
  box-sizing: border-box;
}

.columns.columns5 .columns div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.columns.columns5 .columns div:first-of-type p:nth-child(1) {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  letter-spacing: -0.01em;
}

.columns.columns5 .columns div:first-of-type p:nth-child(2),
.columns.columns5 .columns div:first-of-type p:nth-child(3),
.columns.columns5 .columns div:first-of-type p:nth-child(4) {
  display: inline-block;
  border: 1px solid #f8e9bc;
  border-radius: 2rem;
  padding: 0.25rem 1rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.columns.columns5 .columns div:first-of-type p:nth-child(5),
.columns.columns5 .columns div:first-of-type p:nth-child(7) {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  margin-right: 0.5em;
}

.columns.columns5 .columns div:first-of-type p:nth-child(6),
.columns.columns5 .columns div:first-of-type p:nth-child(8) {
  font-size: 1rem;
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 0.5em;
}

.columns.columns5 .columns div:first-of-type p:nth-child(5),
.columns.columns5 .columns div:first-of-type p:nth-child(6) {
  display: block;
  float: left;
  width: 50px;
  text-align: center;
}

.columns.columns5 .columns div:first-of-type p:nth-child(7),
.columns.columns5 .columns div:first-of-type p:nth-child(8) {
  display: block;
  float: left;
  width: 70px;
  text-align: center;
}

@media (width >= 600px) {
  .columns.columns5 .columns div:first-of-type {
    display: flex;
    flex-direction: column;
  }

  .columns.columns5 .columns div:first-of-type .info-blocks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}


.columns.columns9 {
  background: #2C1205;
  padding: 0;
}

.columns.columns9 .block.columns-3-cols {
  background: transparent;
}

.columns.columns9 .block.columns-3-cols div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  background: transparent;
}

.columns.columns9 .block.columns-3-cols div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  position: relative;
  height: 370px;
  padding: 0;
}

.columns.columns9 .block.columns-3-cols div div p:first-child {
  display: none;
}

.columns.columns9 .block.columns-3-cols div div p {
  font-size: clamp(2.2rem, 6vw, 3.3rem);
  font-weight: 700;
  text-align: center;
  line-height: 1.08;
  margin: 0 0 -2.1rem;
  letter-spacing: -0.015em;
  word-break: break-all;
  white-space: pre-line;
  position: relative;
  z-index: 1;
  color: inherit;
  background: transparent;
}

.columns.columns9 .block.columns-3-cols div div:nth-child(1) p {
  color: #8DF6D2;
}

.columns.columns9 .block.columns-3-cols div div:nth-child(2) p {
  color: #A996D2;
}

.columns.columns9 .block.columns-3-cols div div:nth-child(3) p {
  color: #E13C33;
}

.columns.columns9 .block.columns-3-cols div div p a {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  z-index: 2;
  position: relative;
}

.columns.columns9 .block.columns-3-cols div div img {
  width: 130px;
  max-width: 92vw;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: -2.6rem;
}

.columns.columns9 .block.columns-3-cols div div:not(:last-child) {
  border: none;
  box-shadow: none;
}

@media (width <= 900px) {
  .columns.columns9 .block.columns-3-cols div {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    max-width: 540px;
  }

  .columns.columns9 .block.columns-3-cols div div {
    height: auto;
    padding: 2rem 0;
  }
}


.columns-2-cols > div {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
}

.columns-2-cols > div > div {
  flex: 1 1 0;
}

.columns-2-cols > div > div:last-child {
  background: rgb(245 233 167 / 8%);
  border-radius: 16px;
  box-shadow: 0 8px 24px rgb(77 54 21 / 11%);
  padding: 2rem;
  min-height: 240px;
  display: flex;
  align-items: flex-end;
}

#fantasy-anytime-anywhere {
  color: #f5e9a7;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  letter-spacing: 0.02em;
}

#swipe-to-indulge {
  color: #3a2c18;
  font-size: 1.2rem;
  font-weight: 700;
}

.columns-wrapper {
  background: url('blurry-gradient-bg.jpg') center center/cover no-repeat;
  padding: 3rem 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

@media (width <= 768px) {
  .columns-2-cols > div {
    flex-direction: column;
    gap: 1.5rem;
  }

  .columns-2-cols > div > div:last-child {
    min-height: 160px;
  }
}


.columns.columns12 {
  background: linear-gradient(107deg, #59351A 0%, #885529 100%);
  padding: 4.5rem 0;
  position: relative;
  box-sizing: border-box;
}

.columns.columns12 div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5vw;
  width: 90%;
  margin: 0 auto;
  min-height: 400px;
  box-sizing: border-box;
  position: relative;
}

@media (width <= 1000px) {
  .columns.columns12 div {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 2.5rem;
    width: 98%;
    min-height: unset;
  }

  .columns.columns12 .columns-img-col {
    justify-content: flex-start;
    margin-bottom: 1.5rem;
  }

  .columns.columns12 .columns-img-col img,
  .columns.columns12 .columns-img-col picture {
    width: 100%;
    height: auto;
    max-width: 400px;
    min-width: 0;
    margin-left: 0;
  }
}

.columns.columns12 h2 {
  color: #FFF3D6;
  font-size: clamp(2rem, 4vw, 2.75rem);
  font-weight: 700;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.columns.columns12 p {
  color: #E7E2DA;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: 400;
  margin-block: 0 1.2rem;
  line-height: 1.5;
  max-width: 38em;
}

.columns.columns12 .button-container {
  margin-top: 2.2rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.columns.columns12 .button {
  background: #E94B35;
  color: #fff;
  border-radius: 2em;
  padding: 0.85em 2.3em;
  font-size: 1.07em;
  font-weight: 600;
  box-shadow: none;
  border: none;
  text-decoration: none;
  transition: background 0.18s;
}

.columns.columns12 .button:hover, 
.columns.columns12 .button:focus {
  background: #c53826;
}

.columns.columns12 .columns-img-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}

.columns.columns12 .columns-img-col img, 
.columns.columns12 .columns-img-col picture {
  display: block;
  width: 340px;
  height: 340px;
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 0;
  background: none;
  box-shadow: none;
}

.columns.columns12::before,
.columns.columns12::after {
  position: absolute;
  z-index: 0;
  opacity: 0.12;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  display: block;
}

.columns.columns12::before {
  top: 12%;
  left: 3%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6d/Almond.svg');
}

.columns.columns12::after {
  bottom: 15%;
  right: 5%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/07/Cashew_nut_icon.svg');
}


.columns.columns19 {
  background: linear-gradient(90deg, #412113 0%, #3a1d12 100%);
  padding: 5vw 7vw;
  border-radius: 24px;
  box-sizing: border-box;
  width: 100%;
}

.columns.columns19 > .columns-inner {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically centers columns */
  justify-content: space-between;
  gap: 4vw;
}

.columns.columns19 > .columns-inner > div {
  flex: 1 1 0;
  min-width: 280px;
}

.columns.columns19 h2 {
  color: #FFF0CC;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 0 1.1rem;
}

.columns.columns19 p {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 1.8rem;
  line-height: 1.5;
}

.columns.columns19 .button,
.columns.columns19 a.button {
  background: #E94D1A;
  color: #fff;
  border-radius: 999px;
  font-weight: bold;
  padding: 0.75em 2.2em;
  font-size: 1.15rem;
  box-shadow: none;
  border: none;
  transition: background 0.2s;
  margin-top: 0.6em;
}

.columns.columns19 .columns-img-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns.columns19 .columns-img-col img {
  max-width: 340px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin: 0 auto;
}

@media (width <= 900px) {
  .columns.columns19 > .columns-inner {
    flex-direction: column;
    gap: 2vw;
  }
}
