.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


/* Main Layout */
.columns-wrapper .columns > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: #000;
  padding: 40px 0 24px;
  position: relative;
  color: #fff;
}

/* Chocolate Drip Overlay */
.columns-wrapper .columns > div::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* adjust */
  background: url('/path/to/chocolate-drip.png') repeat-x top center;
  background-size: cover;
  z-index: 2;
  pointer-events: none;
}

/* Columns */
.columns-wrapper .columns > div > div:first-child {
  min-width: 200px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.columns-wrapper .columns > div > div:nth-child(2),
.columns-wrapper .columns > div > div:nth-child(3) {
  min-width: 160px;
}

.columns-wrapper .columns > div > div:nth-child(2) {
  margin-right: 32px;
  position: relative;
  padding-right: 32px;
}

.columns-wrapper .columns > div > div:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: rgb(255 255 255 / 25%);
}

/* Links */
.columns-wrapper .columns > div ul,
.columns-wrapper .columns > div li,
.columns-wrapper .columns > div a {
  color: #fff !important;
  font-size: 15px;
  line-height: 2;
  list-style: none;
  text-decoration: none;
}

.columns-wrapper .columns > div ul {
  padding-left: 0;
  margin: 0;
}

.columns-wrapper .columns > div li {
  margin: 0;
}

/* Responsive */
@media (width <= 600px) {
  .columns-wrapper .columns > div {
    flex-direction: column;
    align-items: stretch;
  }

  .columns-wrapper .columns > div > div {
    margin-right: 0 !important;
    padding-right: 0 !important;
    min-width: 0 !important;
  }

  .columns-wrapper .columns > div > div:nth-child(2)::after {
    display: none;
  }
}
